@font-face {
	font-family: 'HLT Giddyup Std';
	src: url('../fonts/HLTGiddyupStd.eot');
	src: url('../fonts/HLTGiddyupStd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HLTGiddyupStd.woff') format('woff'),
		url('../fonts/HLTGiddyupStd.ttf') format('truetype'),
		url('../fonts/HLTGiddyupStd.svg#HLTGiddyupStd') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HLT Pepita Script';
  src: url('../fonts/PetitaScript/HLTPepitaScript.eot');
	src: url('../fonts/PetitaScript/HLTPepitaScript.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PetitaScript/HLTPepitaScript.woff') format('woff'),
		url('../fonts/PetitaScript/HLTPepitaScript.ttf') format('truetype'),
		url('../fonts/PetitaScript/HLTPepitaScript.svg#HLTPepitaScript') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: agencyfontbold;
	src: url(../fonts/SVN-Agency-FB-bold.ttf);
}
@font-face {
  font-family: agency;
	src: url(../fonts/SVN-Agency-FB.ttf);
}

*{
  box-sizing: border-box;
}

html{
  font: 10px/1.4 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

body{
  font-size: 1.4rem;
}

h1{
  font-size: 3.8rem;
}

h2{
  font-size:3.0rem;
}

h3{
  font-size: 2.4rem;
}

h4{font-size: 1.8rem;
}

h5{
  font-size: 1.4rem;
}

ul,li{
	margin: 0;
	padding: 0;
}

a{
  text-decoration: none;
}

.page-block{
	padding: 18px 20px;
}

.white-bg{
	background: #fff;
}

.gray-bg{
	background: #e6e6e6;
}

.black-bg{
	background: #4d4d4d;
  border: 1px solid black;
}

.header{
  border-bottom: 1px solid #a1a1a1;
  padding: 18px 20px;
  position: relative;
}

.mobile-nav{
  display: block;
}

.desktop-nav{
  display: none;
}

.logo{
  display: inline-block;
}

.logo img{
  max-width:90px;
  vertical-align: middle;
}

.menu-button{
  float: right;
  cursor: pointer;
}

.menu-button div:nth-child(2){
  margin: 5px 0;
}

.menu-button div{
  background:#000000;
  display: block;
  width: 28px;
  height: 5px;
}

.dropdown-menu{
  display:none;
  position: absolute;
  top: 100%;
  right: 0;
  border-top: 1px solid #a1a1a1;
  width: 100%;
}

.dropdown-menu.active{
  display: block;
}

.dropdown-item:hover{
  background: #31c36b;
	color: #fff;
}

.dropdown-item{
  text-align: right;
  padding: 10px 30px;
  width: 100%;
  cursor: pointer;
  background: #fff;
}

.banner-block{
  background: transparent url('../img/banner.jpg') center center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 90px 0;
  font-weight: 100;
}

.upper-line{
  font-family: 'HLT Giddyup Std', cursive;
  margin: -70px 0 0 -70px;
  color: #ffffff;
}

.down-line{
  font-family: 'HLT Pepita Script',cursive;
  font-weight: 300;
  margin: -10px 0 0 20px;
  color: #ffffff;
}

.arrow-down{
  display: none;
}

.introduce-block h1{
  font-size: 3.0rem;
  margin: 0;
  font-family: agencyfontbold;
}

.introduce-block h4{
  font-weight: 300;
  margin-top: 10px;
}

.page-introduce h3{
  margin: 0;
}

.page-introduce h4{
  margin: 0;
  font-weight: 300;
}

.circle img{
  width: 80px;
}

.circle{
  margin: 20px 20px;
  float: left;
}

.caption{
  overflow: hidden;
}

.caption p{
  display: block;
  padding: 20px;
}

.image-left,
.image-right{
  display: none;
}

.image-left{
  margin-right: 20px;
}

.page-introduce.i-yes-content{
  padding-right: 110px;
}

.word-bold p:nth-child(1){
	font-weight: 700;
}

.align-word p:nth-child(7){
	margin-top: 10px;
}

.align-word{
	position: relative;
	left: 80px;
	padding-right: 150px;
}



.course-block h1{
	font-family: agencyfontbold;
	margin: 0;
	padding-bottom: 20px;
}

.lecturers h3{
	text-align: center;
}

.courses{
  text-align: center;
}

.courses img{
	margin-bottom: 30px;
  width: 100%;
}

.teacher h1{
	font-size: 3rem;
	text-align: center;
	font-family: agencyfontbold;
}

.lectures-block{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.information{
	display: none;
}

.information p{
  font-weight: 300;
  text-align:justify;
  word-wrap: break-word;
  margin: 0;
  font-size: 1.8rem;
}

.footer{
  padding: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logo-footer{
  padding: 25px 50px;
}

.logo-footer img{
  max-width: 150px;
}

.footer-block{
  padding-top: 40px;  
}

footer a{
  display: block;
  text-decoration: none;
  color: #afafaf;
  font-size: 2.4rem;
}

.footer h2{
  color: #ffffff;
}

.address p{
  margin: 0;
  font-size: 1.8rem;
  color: #afafaf;
}

.student a{
  text-decoration: none;
}

.public h5{
  text-align: center;
  color: #d9d9d9;
  font-weight: 300;
  margin: 0;
}

.public a{
  text-decoration: none;
}

.social-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-list img{
  max-width: 64px;
}

@media(min-width: 720px){
  .courses img{
    width: 22%;
  }

  .lectures-block{
    flex-direction: row;
    justify-content: space-around;
  }

  .lecturer img{
    max-width: 100%;
  }

  .lecturer{
    flex: 0 1 22%;
  }

}

@media(min-width:1080px){


 h1{
   font-size: 7.2rem;
 }

 h2{
   font-size: 3.6rem;
 }

 .mobile-nav{
   display: none;
 }

.desktop-nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
 }

 .header{
   padding: 0px 135px;
   border: 1px solid #ffffff;
 }

.logo img{
   max-width: 150px;
  padding: 0;
}

.menu-group h3{
   font-weight: 300;
   display: inline-block;
   color: #2d2d2d;
}

.menu-group a{
  margin: 0 10px;
  padding: 0px 35px;
}

.menu-group h3:hover{
   color: #4f7dbf;
}

.upper-line{
  padding: 150px 400px;
  margin: -140px 0 0 -120;
 }

.down-line {
   margin-top: -160px;
   margin-left: 100px;
 }

.arrow-down{
   display: block;
   margin-top: 180px;
   cursor: pointer;
   padding: 0;
 }

.introduce-block{
   text-align: center;
 }

.introduce-block h1{
   font-size: 7.2rem;
 }

.introduce-block h4{
   font-size: 3.6rem;
   padding: 0 250px;
 }

.image-container{
  padding: 0;
  overflow: hidden;
  position: relative;
}
/*.i-yes{
   padding: 0;
	 overflow: hidden;
	 position: relative;
 }*/
.image-left{
  display: block;
  float: left;
  top: 0;
}
.image-right{
   display: block;
   float: right;
	 top: 0;
}

.page-introduce{
  padding-top: 20px;
}

.ian-content{
  margin-left: 110px;
  padding-bottom: 30px;
}


/*.page-introduce{
	margin-bottom: 20px;
	padding-right: 110px;
	overflow: auto;
	margin-left: 20px;
}
*/
.circle{
  margin: 20px 0 0 100px;

}

.content{
  margin: 20px 0 0 0 ;
  padding-right: 70px;
}

.page-introduce h3{
  font-size: 3.6rem;
  margin: 0;
}

.page-introduce p{
  font-size: 2.4rem;
  font-weight: 300;
  margin: 0;
}

.content-two{
  margin-top: 40px;
}

.i-lan{
	float: right;
  margin-top: 30px;
 }

.iliat{
	padding-left: 20px ;
}

.tab-word p:nth-child(1) {
	font-weight: 600;
}

.tab-word p:nth-child(2){
	margin-left: 80px;
}

.tab-word p:nth-child(3){
	margin-left: 80px;
	padding-right: 50px;
}

.i-pod{
 margin-top: 10px;
 padding-left:20px;
 padding-right: 80px;
}

.course-block h1{
  font-size: 7.2rem;
	text-align: center;
}

.courses{
  padding: 0px 110px 30px;
}

.courses img{
	margin-left:15px;
  width: 23%;
}


.teacher h1{
	font-size: 7.2rem;
	font-family: agencyfontbold;
}

.lectures-block{
  padding: 0px 110px;
}

.information{
	display: block;
}

.footer{
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .public a{
    text-decoration: none;
  }

  .contact-block p{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    width: 250px;
  }

  .social-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .social-list a{
    display: block;
    flex: 0 1 30%;
  }

  .social-list img{
    max-width: 64px;
    max-height: 64px;
    margin-right: 10px;
  }


}