*{
  box-sizing: border-box;
}

html{
  font: 10px/1.4 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

body{
  font-size: 1.4rem;
}

@font-face {
  font-family: agencyfontbold;
  src: url(../fonts/SVN-Agency-FB-bold.ttf);
}

@font-face {
  font-family: agency;
	src: url(../fonts/SVN-Agency-FB.ttf);
}

h1{
	font-size: 3.0rem;
	margin: 0;
}

h2{
	font-size: 4.8rem;
}

h3{
	font-size: 3.6rem;
}

h4{
	font-size: 2.4rem;
}

h5{
	font-size: 1.8rem;
}

p{
	font-size: 1.4rem;
}

li{
	list-style: none;
}

ul,li{
	margin: 0;
	padding: 0;
}

button h1,
button h2,
button h3,
button h4,
button h5{
  margin: 0;
  font-weight: 300;
}
button:hover{
  background-color: #f9ab81;
}
button:active{
  background-color: #cf7c50;
}
button{
  background-color: #f68e56;
  color: #fff;
  border: 0 none;
  outline: 0 none;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 20px;
}

.page-block{
	padding: 18px 20px;
}

.white-bg{
	background: #fff;
}


.first-line{
  border: 2px solid #4d4d4d;
  color: #252525;
  background: #fff;
  width: 280px;
  height: 35px;
  border-radius: 4px;
}

.first-line p{
    display: inline-block;
    position: relative;
    bottom: 9px;
    left: 15px;
    font-weight: bold;
}

.first-line div:nth-child(2){
  transform: rotate(90deg);
  position: relative;
  right: 15px;
}

.first-line div{
  background: #4d4d4d;
  width: 15px;
  height: 3px;
  float: right;
  cursor: pointer;
  display:block;
  margin-top: 8px;
  position: relative;
  top:5px;
}

.white-bg-mobile{
  display: block;
}

.menu-desktop-left{
  display: none;
}

.dropdown-menu-mobile{
   display: none;
   cursor: pointer;
}

.dropdown-menu-mobile ul li{
   border: 2px solid #4d4d4d;
   background: #4d4d4d;
   color: #fff;
   width: 280px;
   height: 35px;
   border-radius: 4px;
   padding: 10px 18px;
   font-weight: bold;
}

.dropdown-menu-mobile.active{
   display: block;
}

.dropdown-menu-mobile ul li:hover{
   background: #fff;
   color: #252525;
}

.page-second h1{
    font-family:agencyfontbold;
}

.student{
   padding: 40px 20px;
}

.teacher{
   margin-top: 20px;
}

.information-teacher h4{
   margin: 0;
   margin-top: 20px;
   text-align: center;
}

.level-teacher p{
  margin: 0;
  font-size: 1.8rem;
  display:block;
}

.level-teacher{
margin-top: 20px;
}


.gray-bg{
	background: #e6e6e6;
}

.black-bg{
	background: #4d4d4d;
  border: 1px solid black;
}

.desktop-nav{
  display: none;
}

.mobile-nav{
  display: block;
}

.logo{
  display: inline-block;
}

.logo img{
  max-width:90px;
  vertical-align: middle;
}

.header{
  border-bottom: 1px solid #a1a1a1;
  padding: 18px 20px;
  position: relative;
}

.menu-button{
  float: right;
  cursor: pointer;
}

.menu-button div:nth-child(2){
  margin: 5px 0;
}

.menu-button div{
  background:#f68e56;
  display: block;
  width: 28px;
  height: 5px;
}

.dropdown-menu{
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  border-top: 1px solid #a1a1a1;
  width: 100%;
}

.dropdown-menu.active{
  display: block;
}

.dropdown-item{
  text-align: right;
  padding: 10px 30px;
  width: 100%;
  cursor: pointer;
  background: #fff;
}

.dropdown-item:hover{
  background: #f68e56;
	color: #fff;
}

.banner-block{
  background-image: url('../img/banner.png');
  background-size: cover;
  text-align: center;
  padding: 90px 0;
}

.banner-block h1{
  font-family: agencyfontbold;
}

.banner-block button{
	margin-top: 24px;
}

.down-line{
	color: #f68e56;
}

.upper-line{
	color: #919191;
}

.arrow-down{
  display: none;
}
h1{
  font-weight: bold;
  font-family: agencyfontbold;
}


.circle{
  width: 80px;
  height: 80px;
  background: #f68e56;
  border-radius: 100%;
  display:inline-block;
  float: left;
 }
 .circle img{
 margin: auto;
 margin-top: 17px;
 margin-left: 21px;




 }

 .content{
   margin-left: 100px;

 }
 .content h4{
   color: #f68e56;
   font-weight: 700;
   margin: 0;
 }
 .content p{
   font-weight:300;
   margin: 0;
 }

 .point{
   font-weight:bold;
 }

 .second-title{
    display: inline-block;
    padding: 29px 0;
 }

 .learn{
   font-weight: bold;
 }
 .content-second{
   margin-left: 100px;
 }

 .content-second h4{
   color: #f68e56;
   font-weight: bold;
   margin: 0;
 }

.content-second p{
   margin: 0;
    font-weight: 300;
  }

.third-title{
  display: inline-block;
  overflow: auto;
}

.content-third{
    margin-left: 100px;
}

.content-third h4{
    color: #f68e56;
    font-weight: 700;
    margin: 0;
}

.content-third p{
     margin: 0;
     font-weight: 300;
}

.page-three{
     padding: 6px 0;
}

.third_line{
    display: inline-block;
}

.third_line h4{
    font-family: agencyfontbold;
    display: inline;
    margin-top: 20px;
    color: #f68e56;
    font-size: 2.4rem;
}

.headboard{
    background:#f68e56;
    display:block;
    width: 22px;
    height: 5px;
    margin: 5px 0;
}

.past{
    margin: -25px 0 0 95px;
}

.time{
    margin: -33px 0 0 120px;
}

.time p:nth-child(1){
    margin-left: 5px;
}

.time p{
    font-weight: 600;
    display: block;
    margin: 0;
}

.separator{
    background:#f68e56;
    display: block;
    width: 1px;
    height: 42px;
    margin: -40px 0  0 195px;
}

.schedule{
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 5px 10px;
    display: block;
    margin: -45px 0 0 200px;
}

.title_where{
  padding-bottom: 5px;
  margin-top: 30px;
}

.bullet img{
    width: 100%;
}

.list-bullet{
    display: flex;
}

.guide{
    text-align: center;
}

.bullet{
    flex: 0 1 30%;
}

.class-one{
   border: 2px solid #f68e56;
   padding-top: 20px;
   border-radius: 10px;
   margin-top: 10px;
   vertical-align: top;
}

.course-content-block{
    padding: 0 10px 10px;
}

.class-one h2{
   color: #f68e56;
   font-family: agencyfontbold;
   text-align: center;
   margin: 0;
   font-size: 4.7rem;
}

.class-one h3{
   color: #f68e56;
   font-family: agencyfontbold;
   text-align: center;
   margin: 0;
}

h3.price{
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-more{
  margin-top: 30px;
  margin-bottom: 30px;
}

.content-more p{
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
}

.fa-check{
    color:#f68e56;
    margin-right: 10px;
}

.class-one li{
    margin-top: 10px;
    padding: 0;
}

.btn-class-one{
    width: 100%;
    border-radius: 0 0 7px 7px;
    padding: 15px 30px;
}

.class_four{
      font-size: 1.5rem;
      font-weight: 300;
      text-align: center;
}

.btn-button-scholarship{
      width: 280px;
      font-size: 1.8rem;
      padding: 12px 30px;
}

.btn-button-noscholarship{
  width: 280px;
  outline: 0 none;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 15px;
  border-radius: 8px;
  color: #252525;
  border: 1px solid #000000;
  background-color: #ffffff;
}

.btn-button-noscholarship:hover{
  background-color:#000000;
  color: #ffffff;
}

.btn-button-noscholarship:active{
  background: #ffffff;
}

.social-list{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer{
  padding: 0 15px;
}

.social-list img{
	max-width: 64px;
	max-height: 64px;
}

.logo-footer{
  padding: 35px 50px;
}

.logo-footer img{
	max-width: 150px;
	max-height: 55px;
}

.address h5{
    text-align: center;
    color: #d9d9d9;
    font-weight: 300;
    margin: 0;
}

.student a{
  text-decoration: none;
}

.student h5{
  text-align: center;
  color: #d9d9d9;
  font-weight: 300;
  margin: 0;
}

.student p{
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.student{
  padding: 20px 0;
}

.public h5{
  text-align: center;
  color: #d9d9d9;
  font-weight: 300;
  margin: 0;
}

.public a{
  text-decoration: none;
}

.public p{
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.public{
  padding: 20px 0;
}

.contact p{
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.contact{
  padding: 30px 0;
}

@media(min-width:600px){
.third_line h4{
    font-size: 4rem;
}

.past{
    display: inline-block;
    margin: -20px 0 0 20px;
}

.headboard{
    width: 50px;
    height: 8px;
}

.time p:nth-child(1){
    margin-left: 20px;
}

.time p{
    font-size: 2rem;
}

.time{
    display: block;
    margin: -50px 0 0 230px;
}

.separator{
    height: 74px;
    width: 2px;
    margin: -60px 0 0 380px;
}

.schedule{
    padding: 5px 10px;
    width: 130px;
    text-align: center;
    font-size: 2.0rem;
    border-radius: 8px;
    margin: -70px 0 0 420px;
}

.bullet img{
    width: 150px;
    height: 50px;
}

.guide{
    text-align: center;
    padding-right: 100px;
}

.class-scholarship{
    text-align: center;
}

.btn-button-scholarship{
    margin-right: 100px;
}

.information-teacher{
    text-align: center;
}

.teacher{
    display: inline-block;
    width:33%;
}

.teacher img{
    max-width: 100%;
}

.level-teacher p{
    float: left;
}
}


@media(min-width: 1180px){

h1{
		font-size: 7.2rem;
	}

h5{
		font-size: 3rem;
	}

p{
		font-size: 1.8rem;
	}

.mobile-nav{
    display: none;
}

.page-block{
    padding: 50px 110px;
}

.header{
    padding: 16px 110px;
}

.desktop-nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
}

.logo img{
   max-width: 150px;
}

.desktop-nav h4{
    font-weight: 300;
    padding: 0;
}

button{
    padding: 20px 35px;
}

.upper-line{
    position: relative;
    left: -180px;
}

.arrow-down{
    display: block;
    margin-top: 50px;
    cursor: pointer;
}

.white-bg-mobile{
    display: block;
}

.menu-mobile-left{
  display: none;
}

.menu-desktop-left{
    display: block;
    width: 180px;
    height: 300px;
    border: 1px solid #4d4d4d;
    background: #4d4d4d;
    border-radius: 9px;
    position: relative;
    z-index:2000;
    float: left;

}

.dropdown-item-desktop1{
  height: 43px;
  width: 180px;
  color: #fff;
  font-weight:700 ;
  padding: 5px 16px;
  font-size: 1.8rem;
  border-bottom: 1px solid #4d4d4d;
  cursor: pointer;
}

.dropdown-item-desktop1:hover{
  background: #d7d7d7;
  color: #000;
  padding: 5px 15px;
  border-radius: 9px;
}

.dropdown-item-desktop{
  padding: 5px 15px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  border-bottom: 1px solid #4d4d4d;
  cursor: pointer;
}

.dropdown-item-desktop:hover{
  background: #d7d7d7;
  color: #000;
  padding: 5px 15px;
  border-radius: 9px;
}

.page-second{
  margin-left: 240px;
}

.page-second h1{
 font-family:agencyfontbold;
}

.teacher {
  display:inline-block;
  width: 32%;
  margin-left: 5px;
}

.btn-button{
  background-color: #f68e56;
  color: #ffffff;
  padding:15px 15px;
  font-weight:700;
  width: 95px;
  margin-left: 40px;
}

.page-first{
   padding-left: 280px;
}

.content{
   margin-left: 18px;
}

.point{
  font-weight: 700;
  font-size: 1,8rem;
}

.help{
   font-size: 1.8rem;
    margin-left: 0px;
}

.content-third p{
  margin-left: 10px;
}

.learn{
  margin-left: 10px;
}

.page-three{
  padding-left: 240px;
}

.page-three h1{
  display: inline-block;
}

.page-three h1:nth-child(2){
  margin: 0 5px;
}

.page-three p{
  font-weight: 900px;
}

.third_line h4{
  font-size: 4.8rem;
}

.headboard{
  width: 64px;
  height: 13px;
}

.past{
  margin: -50px 0 0 20px;
}

.time p{
  font-size: 3rem;
  margin: 0;
}

.time p:nth-child(1){
  margin-left: 20px;
}

.time{
  display: block;
  margin: -80px 0 0 280px;
}

.separator{
  width: 2px;
  height: 89px;
  margin: -80px 0 0 440px;
}

.schedule{
  padding: 10px 30px;
  width: 174px;
  text-align: center;
  font-size: 2.4rem;
  border-radius: 8px;
  margin: -90px 0 0 460px;
}

.class-one{
  display: inline-block;
  width: 33%;
}

.content-more{
  margin-top: 30px;
  margin-bottom: 30px;
}

.content-more p{
  margin: 0;
  font-weight: 300;
}

.title_where{
  font-size: 2.4rem;
  font-weight: 400;
}

.bullet img{
  width: 180px;
  height: 60px;
}

.guide{
  float: left;
  font-weight: 600;
  text-align: center;
  padding-right: 80px;
}

.page-four{
  padding-left: 240px;
  position: relative;
}

.course-content-block{
  padding-left: 20px;
  padding-right: 20px;
}

.class_four{
  padding: 35px 0;
  font-size: 2.4rem;
  font-weight: 500;
}

.btn-button-scholarship{
  width: 400px;
  position: relative;
  font-size: 2.4rem;
  padding: 10px 50px;
  display:inline-block;
  margin-left: -300px;
}

.btn-button-noscholarship{
  color: #252525;
  border: 1px solid #000000;
  background-color: #ffffff;
  width: 400px;
  display: block;
  text-align: center;
  padding: 14px 50px;
  border-radius: 10px;
  margin-top: -50px;
  margin-left: 480px;
}

.class-scholarship{
  margin-top: -30px;
}

footer{
  text-align: left;
  position: static;
}

.footer{
  display: flex;
  flex-direction: column;
}

.footer{
    flex-direction: row;
    justify-content: space-between;
}

.footer>div{
    flex: 0 1 30%;
}

.address{
  margin: 60px 0 0 -250px ;
}

.address h5{
  font-size: 1.8rem;
  text-align: left;
  font-weight: 300;
  display: inline-block;
  width: 280px;
}

.student{
  margin-left: 60px;
}

.student a{
  text-decoration: none;
}

.student h5{
 font-size: 2.4rem;
 font-weight: 300;
 color: #afafaf;
}

.student p{
	 font-size: 3rem;
   font-weight: 700;
   text-align: center;
   width: 200px;

}

.public{
  position: relative;
  left: 70px;
  text-align: left;
}

.public a{
  text-decoration: none;
}

.public h5{
  font-size: 2.4rem;
  font-weight: 300;
  color: #afafaf;
}

.public p{
  text-align: center;
  width: 250px;
  font-size: 3rem;
  font-weight: 700;
}

.contact{
  position: relative;
  left: 150px;
  top:-10px;
  cursor: pointer;
}

.contact p{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  width: 250px;
}

.social-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: -75px;
}

.social-list a{
  display: block;
  flex: 0 1 30%;
}

.social-list img{
  max-width: 64px;
  max-height: 64px;
  margin-right: 10px;
}

.logo-footer{
  margin-top: -40px;
  margin-left: -80px;
}

}
